{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
{% block body %}
    <h1 class="col-md-6">Add a Task</h1>
{% endblock %}
